# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Project files
*.sdf
*.opensdf
*.user
*.filters

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# MDK files
*.uvopt
*.dep
*.map
*.bak
*.plg
*.uvgui_*
*.lst
